{% extends "layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset("css/form_signup.css") }}" rel="stylesheet">

{% endblock %}

{% block body %}

    {{ form_start(formUser) }}

    <fieldset>

        <legend>
            Modification du compte
        </legend>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group group_login">

                    {{ form_row(formUser.username) }}

                </div>

                <div class="form-group group_login">

                    {{ form_row(formUser.email) }}

                </div>

                <div class="form-group group_login">

                    {{ form_row(formUser.password.pass) }}

                </div>

                <div class="form-group group_login">

                    {{ form_row(formUser.password.pass_checked) }}

                </div>
            </div>

            <div class="col-sm-6">

                <div class="user_avatar">
                    <img src="{{ asset(user.avatar.webPath)}}" alt="{{ user.avatar.alt }}" width="250" height="180">
                </div>

                <div class="form-group group_login">

                    {{ form_row(formUser.avatar) }}

                </div>
            </div>
        </div>

        {{ form_rest(formUser) }}

        <button id="btn_valid" type="submit" class="btn btn-primary btn_login">Modifier</button>

        {{ form_end(formUser) }}

    </fieldset>

{% endblock %}