{% extends "layout.html.twig" %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset("css/form_signup.css") }}" rel="stylesheet">

{% endblock %}

{% block body %}

    {{ form_start(formUser, {'attr' : {'id' : 'form_signup'}}) }}

    <fieldset>

        <legend>
            Inscription
        </legend>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group group_login">

                    {{ form_row(formUser.username) }}

                </div>

                <div class="form-group group_login">

                    {{ form_row(formUser.email) }}

                </div>

                <div class="form-group group_login">

                    {{ form_row(formUser.password.pass) }}

                </div>

                <div class="form-group group_login">

                    {{ form_row(formUser.password.pass_checked) }}

                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group group_login">

                    {{ form_label(formUser.avatar, 'Votre avatar :', {'label_attr' : {'class' : 'control-label'}}) }}

                    {{ form_widget(formUser.avatar) }}


                </div>
            </div>
        </div>

        {{ form_rest(formUser) }}

        <button id="btn_valid" type="submit" class="btn btn-primary btn_login">Valider</button>

        {{ form_end(formUser) }}

    </fieldset>
{% endblock %}