{{ form_start(form) }}


<fieldset>

    <legend>
        {% if add is defined %}
            Ajouter une figure

        {% elseif edit is defined %}
            Modifier une figure

        {% endif %}
    </legend>

    <div class="row">

        <div class="col-sm-6">

            <div class="form-group">

                {{ form_row(form.name) }}

            </div>


            <div class="form-group">

                {{ form_row(form.content) }}

            </div>


        </div>

        <div class="col-sm-6">

            <div class="form-group">

                {{ form_row(form.groupFigure) }}

            </div>


            <div class="form-group">

                {{ form_row(form.rating) }}

            </div>


        </div>

    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">

                {{ form_row(form.images) }}

                <a href="#" id="add_image" class="btn btn-primary">Ajouter une image</a>

            </div>

        </div>

        <div class="col-sm-6">
            <div class="form-group">

                {{ form_row(form.videos) }}

                <a href="#" id="add_video" class="btn btn-primary">Ajouter une video</a>


            </div>
        </div>

    </div>

    <button type="submit" id="btn_valid" class="btn btn-primary">Valider</button>

    {{ form_rest(form) }}

</fieldset>

{{ form_end(form) }}