<!DOCTYPE html>

<html lang="fr">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{{ asset("css/layout.css") }}" rel="stylesheet">

    {% block stylesheets %}
    {% endblock %}


    <title>SnowTricks</title>
</head>

<body>
<div class="container_fluid">

    <div class="row">
        <div class="col-md-offset-2 col-sm-8">
            <h1 id="title">SnowTricks</h1>
        </div>

        <div id="login_user" class="col-sm-2">

            <div id="btn_user">

                {% if is_granted('ROLE_USER') %}

                    <a href="">
                        <button type="button" class="btn btn-primary btn-sm btn_login_left">
                            {{ app.user.username }}
                        </button>
                    </a>

                    <a href="{{ path('app_login_logout') }}">
                        <button  type="button" class="btn btn-primary btn-sm btn_login_right">
                            Deconnexion
                        </button>
                    </a>

                {% else %}

                    <a href="{{ path('login') }}">
                    <button type="button" class="btn btn-primary btn-sm btn_login_left">
                        Connexion
                    </button>
                </a>

                <a href="{{ path('signup') }}">
                    <button  type="button" class="btn btn-primary btn-sm btn_login_right">
                        Inscription
                    </button>
                </a>

                {% endif %}

            </div>

        </div>


    </div>
    {% include "menu.html.twig" %}

    {% for message in app.session.flashbag.get('info') %}

        <div id="alert" class="alert alert-info">
            {{ message }}
        </div>

    {% endfor %}

    <div class="row">
        <div class="col-sm-3">

            {{ render(controller('AppBundle:Default:news')) }}

        </div>

        <div class="body col-sm-9">

            {% block body %}
            {% endblock %}

        </div>
    </div>
</div>

{% block scripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
</body>


</html>