<div class="panel-groupe" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                    Derniers messages
                </a>
            </h4>
        </div>


        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">

                {% for comment in recentComments %}
                    <div class="row">
                        <div class="col-lg-9 news_comment">

                            <div class="news_info">
                                <p class="news_name ">
                                    <strong>
                                        <a href="{{ path("figure", {"id" : comment.figure.id}) }}">{{ comment.figure.name }}</a>
                                    </strong>
                                </p>

                                <p class="news_date">
                                    <em>Posté le {{ comment.dateCreate | date("d/m/Y à H:i:s") }}</em><br>
                                    <em>Par {{ comment.user.username }}</em>
                                </p>

                                <p class="news_media">{{ comment.content }}</p>

                                <img src="{{ asset(comment.user.avatar.webPath) }}" alt="{{ comment.user.avatar.alt }}"
                                     width="60" height="45">

                            </div>


                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                    Dernières illustrations
                </a>
            </h4>
        </div>


        <div id="collapse2" class="panel-collapse collapse">

            {% for image in recentImages %}
                <div class="panel-body">
                    <div class="news_info col-lg-9">
                        <p class="news_name">
                            <strong>
                                <a href="{{ path("figure", {"id" : image.figure.id}) }}">{{ image.figure.name }}</a>
                            </strong>
                        </p>

                        <p class="news_date">
                            <em>Posté le {{ image.dateCreate | date("d/m/Y à H:i:s") }}</em>
                        </p>
                    </div>

                    <div class="news_media col-sm-3">
                        <img src="{{ image.url }}" height="55" width="70">
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                    Dernières videos
                </a>
            </h4>
        </div>


        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">

                {% for video in recentVideos %}
                    <div class="panel-body">
                        <div class="news_info col-md-9">
                            <p class="news_name">
                                <strong>
                                    <a href="{{ path("figure", {"id" : video.figure.id}) }}">{{ video.figure.name }}</a>
                                </strong>
                            </p>

                            <p class="news_date">
                                <em>Posté le {{ video.dateCreate | date("d/m/Y à H:i:s") }}</em>
                            </p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>