{% extends "layout.html.twig" %}

{% block stylesheets %}

    <link href="{{ asset("css/view.css") }}" rel="stylesheet">

{% endblock %}

    {% block body %}

    <div id="figure">


        <h3 class="name_figure">{{ figure.name }}</h3>
        <br>

        {% include "carousel.html.twig" %}

        <br>
        <br>


        <div class="rating_figure">


            {% for i in 1..figure.rating %}
                <span class="glyphicon glyphicon-star" style="color: #0088CC"></span>
            {% endfor %}


            {% if figure.rating < 5 %}

                {% set star_empty = 5 - figure.rating %}

                {% for i in 1..star_empty %}
                    <span class="glyphicon glyphicon-star-empty"></span>
                {% endfor %}

            {% endif %}

        </div>

        <br>

        <p>
            {{ figure.content }}
        </p>

        <br>

        <div class="row">
            <div class="col-sm-5">

                <p class="group_figure">
                    <strong>Groupe de figure :</strong> <a href="#">{{ figure.groupFigure }}</a>
                </p>

                <br>

                <p id="video_view">
                    <strong>Vidéos :</strong>
                </p>

                {% for video in figure.videos %}

                    <a href="{{ video.url }}" >{{ video.alt }}</a><br>

                {% endfor %}


            </div>

            <div class="col-sm-7">

                {% include "message.html.twig" %}

            </div>
        </div>

    </div>

{% endblock %}