{% extends "layout.html.twig" %}


{% block body %}

    <div id="figure" class="body">

        <h3 class="name_figure">{{ figure.name }}</h3>
        <br>

        {% for image in figure.images %}

            <img class="img_figure"
                 src="{{ image.url }}"
                 alt="{{ image.alt }}">

        {% endfor %}

        <br>
        <br>


        <div class="rating_figure">


            {% for i in 1..figure.rating %}
                <span class="glyphicon glyphicon-star" style="color: #0088CC"></span>
            {% endfor %}


            {% if figure.rating < 5 %}

                {% set star_empty = 5 - figure.rating %}

                {% for i in 1..star_empty %}
                    <span class="glyphicon glyphicon-star-empty"></span>
                {% endfor %}

            {% endif %}

        </div>

        <br>

        <p>
            {{ figure.content }}
        </p>

        <br>

        <p class="group_figure">
            <strong>Groupe de figure :</strong> <a href="#">{{ figure.groupFigure }}</a>
        </p>

    </div>

{% endblock %}