<div id="comment_figure">

    {% if is_granted('ROLE_USER') %}

        {% include ":figure:form_comment.html.twig" %}

    {% else %}

        <div class="well">
            <p>
                Vous devez être <a href="{{ path('login') }}">connecté</a> pour poster un message.
            </p>
        </div>

    {% endif %}

    <div id="comments_post_figure">

        <span>Messages</span>


        {% for comment in listComments %}

            <div class="row">
                <div class="col-sm-9 comment_figure">
                    <div class="comment_info_figure">
                        <p class="comment_auteur_figure">
                            {{ comment.user.username }} <em>Poster
                                le {{ comment.datecreate | date("d/m/Y à H:i:s") }}</em>
                        </p>

                    </div>
                    <div class="comment_content_figure">
                        {{ comment.content }}
                    </div>
                </div>

                <div class="col-sm-2 comment_avatar">
                    <img src="{{ asset(comment.user.avatar.webPath) }}" alt="{{ comment.user.avatar.alt }}" width="75" height="52">
                </div>
            </div>

        {% else %}
            <p id="comments_empty_figure">Aucun message posté</p>
        {% endfor %}

        <div id="comment_pagination">
            <ul class="pagination">

                {% for p in range(1, nbPages) if nbPages != 0 %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a class="pagin" {% if nbPages < 1 %}href="#"{% endif %}>{{ p }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>

    </div>
</div>
